/*
font-family: 'Comfortaa', cursive;
*/

body {
    font-family: 'Comfortaa', cursive;
}

h1 {
    font-weight: bold;
}

h2 {
    font-weight: lighter;
    font-size: 180%;
}

h3 {
    font-size: 160%;
}
